.video-id-and-go-button-container {
    text-align: center;
}

.video-id-container {
    padding: 10px;
}

.go-button-container {
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 1rem;
    text-align: center;
}